* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#after{
    display: none;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
body{
    background: rgb(245,245,238);
    background: radial-gradient(circle, rgba(245,245,238,1) 12%, rgba(12,12,1,1) 80%);
    font-size: 11px;
}
#formSection{
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0d0d01;
    color: #FBFBFF;
    opacity: 10%;
}
.formBox{
    background-color: #212105;
    color: white;
    border: none;
    width: 77px;
}
.bannerHead{
   text-align: center;
}
.bannerInput{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
#submit{
    margin-top: .5em;
    height: fit-content;
    border-radius: 4px;
    border: none;
    background-color: #0e0e01;
    color: #3a3a30;
    font-size: 1.5em;
    font-family: 'Poiret One', cursive;
}
.movieSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
}
.movieCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 100%;
    align-items: center;
    color: #FBFBFF;
    background-color: #0d0d01;
    border-radius: 5px;
    margin: 5%;
}
.posterImage{
    width: 90%;
    height: 70%;
}
.poster{
    width: 95%;
    height: 70%;
    margin: 0 auto;
}
.titleOnPoster{
    text-align: center;
    font-size: 3em;
    font-family: 'Poiret One', cursive;
    color: #F6BD60;
}
.delete{
    align-self: center;
    background-color: #0d0d01;
    color: #BEBBBB;
    border: none;
    font-size: 3em;
    border-radius: 5px;
}
label{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7b7b71;
}
p{
    color: #7b7b71;
}
#closeEdit{
    align-self: flex-end;
    width: 10%;
    height: 10%;
    margin-top: -3%;
    background-color: #0d0d01;
    border: none;
}
.Edit{
    align-self: flex-end;
    margin-right: .5em;
    background-color: #0d0d01;
    color: #444336;
    border: none;
    font-size: 1em;
}
.deleteEdit{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#edit{
    position: absolute;
    top: 20vh;
    left: 15vw;
    height: 60vh;
    width: 70vw;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #0d0d01;
    border: 3px solid black;
    border-radius: 5px;
    opacity: 0.95;
}
#changeMovie{
    background-color: #0d0d01;
    color: #F5E663;
    font-size: 2em;
    border: none;
}
#forDelete{
    display: none;
}
button:hover{
    cursor: pointer;
}
#load{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#projector{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
}
#loadProjector{
    width: 266px;
    height: 405px;
    margin-left: -108px;
}
#loading{
    background-color: #9f9f9f;
    background-image: url("../img/movieCountdown.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 215px;
    border: 5px solid #0d0d01;
    border-radius: 15px;
}
.starColor{
    color: #e0cf28;
}
.deleteIcon{
    color: #830c28;
    background-color: #0d0d01;
}
.fancy{
    font-family: 'Poiret One', cursive;
    text-align: center;
    font-size: 1.5em;
    color: #545449;
}
@media screen and (min-width: 425px){
    .formBox{
        width: fit-content;
    }
    #loadProjector{
        width: 300px;
        margin-left: -121px;
        height: 485px;
    }
    #loading{
        height: 350px;
        width: 265px;
    }
}
@media screen and (min-width: 768px){
    body{
        font-size: 13px;
    }
    .movieCard{
        width: calc(100%/2.5);
        margin: 2% 3%;
    }
    .posterImage{
        height: 65%;
    }
    #edit{
        top: 28vh;
        left: 34vw;
        height: 50vh;
        width: 33vw;
    }
    #loading{
        width: 500px;
        height: 500px;
    }
    #loadProjector {
        width: 600px;
        height: 600px;
        margin-left: -241px;
    }
}
@media screen and (min-width: 1000px){
    body{
        font-size: 15px;
    }
    #loadProjector {
        width: 750px;
        height: 750px;
        margin-left: -302px;
    }
    #loading{
        height: 700px;
        width: 650px;
    }
}
@media screen and (min-width: 1400px){
    .movieCard{
        width: calc(100%/3.7);
    }
    #loading{
        width: 850px;
        height: 850px;
    }
    #loadProjector {
        height: 1000px;
        width: 1000px;
        margin-left: -401px;
    }
}