* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#after{
    display: none;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
body{
    background: rgb(251,251,255);
    background: radial-gradient(circle, rgba(251,251,255,1) 14%, rgba(12,12,12,1) 93%);
}
#formSection{
    width: fit-content;
    height: 15vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FBFBFF;
}
.movieSection{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
}
.movieCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 100%;
    align-items: center;
    color: #FBFBFF;
    background-color: #646E78;
    border: 6px solid #1a1423;
    border-radius: 5px;
    margin: 5%;
}
.posterImage{
    width: 90%;
    height: 70%;
}
.poster{
    width: 95%;
    height: 75%;
    margin: 0 auto;
}
.titleOnPoster{
    text-align: center;
}
.delete{
    align-self: flex-end;
    background-color: #646E78;
    color: #BEBBBB;
    border: none;
    font-size: 3em;
    border-radius: 5px;
}
label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editInput{
}
#closeEdit{
    align-self: flex-end;
    width: 10%;
    height: 7%;
    margin-top: -5%;
}
.Edit{
    align-self: center;
    background-color: #646E78;
    color: #F5E663;
    border: none;
    border-radius: 5px;
    font-size: 2em;
}
#edit{
    position: absolute;
    top: 20vh;
    left: 15vw;
    height: 60vh;
    width: 70vw;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #FBFBFF;
    border: 3px solid black;
    opacity: 0.8;
}
#forDelete{
    display: none;
}
button:hover{
    cursor: pointer;
}
#load{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/movieReelBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
@media screen and (min-width: 768px){
    .movieCard{
        width: calc(100%/2.5);
        margin: 2% 3%;
    }
    .posterImage{
        height: 65%;
    }
    #edit{
        top: 28vh;
        left: 34vw;
        height: 50vh;
        width: 33vw;
    }
}